@inject AuthorService AuthorService
@inject NavigationManager NavigationManager

@using LibraryWeb.Models
@using LibraryWeb.Services
@page "/authors"
@code {
	private List<Author> AuthorList { get; set; } = new();
	protected override async Task OnInitializedAsync()
	{
		AuthorList = await AuthorService.getAuthorsAsync();
	}
	
	private string NavigateToDelete(long authorId)
	{
		NavigationManager.NavigateTo($"/authors/{authorId}/delete", forceLoad: false);
		return "";
	}
}
<PageTitle>Authors menu</PageTitle>
<h1>Welcome to Authors</h1>

<div class="nav-item px-3">
	<NavLink class="nav-link custom-button" href="/authors/create">
		<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Create new author
	</NavLink>
</div>
<style>
	.custom-button {
		color: black; /* Change the text color to your desired color */
		font-family: Arial, sans-serif; /* Change the font to your desired font */
		font-size: 18px; /* Change the font size to your desired size */
		background-color: white; /* Change the background color to your desired color */
		padding: 10px 20px; /* Add padding for better appearance */
		border-radius: 10px; /* Add border-radius for rounded corners */
		border-style: solid;
		border-color: blue;
		text-decoration: none; /* Remove underline from link */
		display: inline-block; /* Ensure block-level behavior */
	}
</style>


<table class="table table-striped">
  <thead>
    <tr>	
      <th>Name</th>
      <th>Surname</th>
      <th>Wrote books</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  @foreach (var author in AuthorList)
		{
		<tr>
		  <td>@author.Name</td>
		  <td>@author.Surname</td>
		  <td>@author.Books.Count()</td>
		  <td>
				  <a class="btn btn-success" @onclick="@(() => NavigationManager.NavigateTo($"/authors/{@author.Id}", forceLoad: false))">Show</a>
				<a class="btn btn-primary" @onclick="@(() =>NavigationManager.NavigateTo($"/authors/{@author.Id}/edit", forceLoad: false))">Edit</a>
			   <a  class="btn btn-danger" @onclick="@(() => NavigateToDelete(author.Id))"> Delete</a>

		  </td>
		</tr>
		}
  </tbody>
</table>

<div class="modal" id="editAuthorModal-@@model.Id">
  <div class="modal-dialog">
	<div class="modal-content">
	  </div>
  </div>
</div>

<div class="modal" id="deleteAuthorModal-@@model.Id">
  <div class="modal-dialog">
	<div class="modal-content">
	  </div>
  </div>
</div>

